fastapi==0.138.0
uvicorn==0.27.0
python-multipart
pandas
numpy
joblib
scikit-learn
pydantic
python-dotenv
pytz
sqlalchemy
psycopg2-binary
xgboost
vnstock==4.0.2
vnstock_ezchart==0.0.3
bcrypt==3.2.2
passlib[bcrypt]
python-jose[cryptography]
httpx
email-validator
pymongo>=4.6
dnspython
boto3>=1.34
