fastapi==0.109.0
uvicorn==0.27.0
python-multipart
tensorflow==2.15.0
pandas
numpy
joblib
scikit-learn
openpyxl
pydantic
python-dotenv
protobuf==4.25.3
grpcio==1.62.1
grpcio-status==1.62.1
vnstock==3.4.2
pytz
sqlalchemy
psycopg2-binary
xgboost
